-# %h1 autoMEton
-# - @projects.each do |project|
-#   .row
-#     .one.column
-#       %br
-#       = project.name

%h1 autoMEton

.row
  - @projects.each do |project|
    .one.column
      .project_box
        .project
          = project.name
          %br
            .description
              = project.description

